.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.logo-text{
    width: 100px;
}
.bi{
  margin-right: 10px;
}
.story{
    height:70px;
    padding: 10px;
}
.dp{
    height:20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 5px;
}
.image{
    width: 300px;
}
.suggestions h5{
    font-size: 16px;
}
.suggestions .dp{
    margin-top: 0px !important;
}

.gradient-border{
    width: 45px; /* Outer size*/
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}

.story-dp{
    width: 40px;
    height: 40px;
}

.profile{
    width: 100px;
    height: 100px;
}


